

/*Bsic Style*/
/*=================================*/
@import 'normalize.css';


@font-face {
    font-family:600 14px/24px 'Trebuchet MS Regular',Times,'Corporate A BQ',verdana,sans-serif;
}

* {
 list-style-type: none;
 text-decoration: none;
}

body {
  width: 100%;
  margin: 0 auto;
padding: 0;
    background-color: #222;

}

/*Styling Nav*/
/*=================================*/

nav {
    position: absolute;
    z-index: 9999999;
    width: 100%;
    height: 100px;
}
#logo {
    float: left;
    width: 10%;
    height: 100px;
}
#logo img{
    width: 100%;
    height: auto;
    padding: 5%;
    opacity: .5;
}
#mainmenu{
    width: 80%;
    height: 60px;
    float: right;
    padding-right: 5%;
}
#mainmenu li{
    float: right;
    width: 15%;
    text-align: center;
}

nav a{
    color: azure;
    font-size: 20px;
    opacity: .8;
}

nav a:hover{
    color: orangered;
    transition: .4s;
}
#opened, #contactnavbtn{
    background: none;
    border:none;
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: azure;
    opacity: .8;
    font-family:Coroporate ABQ;
    cursor: pointer;
    line-height: 23px;
}
#opened:hover, #contactnavbtn:hover{
    color: orangered;
    transition: .4s;
}

/*Styling Header SlideShow*/
/*=================================*/

.header {
    height: 700px;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 700px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
}
.banner video{
    width: 100%;
}
#text {
    position: absolute;
    overflow: hidden;
    z-index: 9999;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 100px;
}

.bg{
    background-color: #333;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 700px;
    opacity: .3;
}


#text h1,p,button {
    opacity: 1;
    color: white;
    font: Corporate ABQ;
}
#text h1{
    font-size: 50px;
    opacity: .8;
}
#text p {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    opacity: .8;
}

#text button{
    background-color: #222;
    width: 20%;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    opacity: .7;
    
}
#text button:hover{
    background-color: #333;
    box-shadow: 1px 1px 10px grey;
    opacity: 1;
    color: orangered;
    transition: .5s;
}


/*End Header*/

/*Start Model*/
#popup {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    padding: 0;
    background-color: black;
    position: static;
    z-index: 99999;
    opacity: .3;
}

/*Modal */

/*Basic Checkbox*/

#modal [type = "checkbox"], #contactusmodal [type = "checkbox"]{
    margin-right: 10px;
}

/*Sign In Modal*/

#modal,#contactusmodal{
 background-color: white;
    top: 5%;
    width: 70%;
    margin-left: 15%;
    background-color: #fff;
    height: auto;
    position: fixed;
    padding: 0;
    text-align: center;
    -webkit-box-shadow: 0 0 10px 3px #414454;
    box-shadow: 0 0 10px 3px #414454;
    border: none;
    z-index: 9999999999;
    display: none;
}

}
button{
    cursor: pointer;
}
.register {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
}
.btn {    
    width: 100%;
    height: 10%;
    background-color: none;
    padding: 0;
    margin: 0;
    padding-left: 45px;
}
.btn button {
    width: 30%;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    background: none;
    border: none;
}

#signinbtn {
    border-radius: 10px 0px 0px 10px;
background: #febbbb;
background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 );
    color: aliceblue;
    opacity: .7;
}
#signinbtn:hover{
        opacity: 1;
}
#signupbtn{
    border-radius: 0px 10px 10px 0px;
background: #7abcff;
background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
    color: azure;
    opacity: .7;

}
#signupbtn:hover{
    opacity: 1;
}

#closemodal{
    float: right;
    cursor: pointer;
    margin-top: 10px;
    z-index: 999999;
    background: none;
    border: none;
    opacity: .4;   
}
#closemodal:hover{
    opacity: 1;
    transition: 1s;
}
/*Stiling Popup*/


/*Basic Register forms */

#contactusmodal table,.register table,.register form{
    width: 100%;
    margin: 0;
    padding: 0;
}
#contactusmodal h1,.register h1{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #686868;
}
.register button{
    width: 150px;
    height: 50px;
    border: none;
    background-color: deepskyblue;
    color: white;
    font-size: 20px;
    font-family: Corporate ABQ;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Login Style*/

#login,#signup,#contactusmodal,form,table {
    width: 100%;
    height: 80%;
    padding: 0;
    margin: 0;
}
#contactusmodal td,#signup td,#login td{
    text-align: center;
    width: 100%;    
}
#login td input[type = "text"],#login [type = "password"]{
    width: 70%;
    height:50px;
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 20px;
    color: orangered;
    padding-left: 100px;
}
#login button{
    width: 70%;
    background-color: lightcoral;
}
#login button:hover{
    background-color: orangered;
    transition: .4s;
    -webkit-box-shadow: 4px 5px 10px 1px #FF9787;
box-shadow: 4px 5px 10px 1px #FF9787;
    
}
#login td>img{
    line-height: 50px;
    margin-left: 20px;
    position: absolute;
    margin-top: 27px;
}
#signup td>p,#login td>p{
    width: 100%;
    font-size: 18px;
    color: #D46F5F;
}
#signup td a,#login td a{
    color: grey;    
    text-decoration: none;
}
#login td a:hover{
    color: orangered;
    text-decoration: underline;
    transition: .2s;
}

/*Sign Up*/
#signup {
    display: none;
}

#submit{
    width: 70%;
    background-color: deepskyblue;
    font-size: 20px;
    color: azure;
    margin-bottom: 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
#submit:hover{
    background-color: dodgerblue;
    transition: .5s;
    -webkit-box-shadow: 4px 5px 10px 1px #1D5B6B;
box-shadow: 4px 5px 10px 1px #1D5B6B;
}

#contactusmodal td [type="text"],#contactusmodal td [type = "email"],#signup td [type = "text"],#signup [type = "email"],#signup [type = "password"]{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 20px;
    color: orangered;
    padding-left: 100px;
}
#contactusmodal td>img,#signup td>img{
    line-height: 40px;
    margin-left: 20px;
    position: absolute;
    margin-top: 15px;
}

#signup td p{
    color: #888888;
    margin: 5px 0px;
    padding: 0;
}
#signup td p>input{
    margin-right: 5px;
}
#signup td p a{
    color: orangered;
}

/*End Sign In Modal*/

/*Start Contact Modal*/

/*Message Form*/
#contactusmodal {
    width: 50%;
    margin-left: 25%;
    height: auto;
    padding: 0;
    text-align: center;
}
#contactusmodal .contactbtns button{
    width: 30%;
    text-align: center;
    height: 50px;
    border: none;
    margin-top: 20px;
}
#contactclosemodal{
    background: none;
    border: none;
    position: absolute;
    top: 25px;
    right: 10px;
    opacity: .3;
}
#contactclosemodal:hover{
    opacity: 1;
    transition: 2s;
}
#findus {
background: #87e0fd;
background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0);
opacity:.7;
border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#findus:hover{
background: #00b7ea;
background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%);
background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%);
background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
opacity: 1;
transition: 2s;
}
#contactus {
background: #ffaf4b;
background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%);
background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: .7;
}

#contactus:hover{
background: #ff670f;
background: -moz-linear-gradient(top,  #ff670f 0%, #ff670f 100%); 
background: -webkit-linear-gradient(top,  #ff670f 0%,#ff670f 100%); 
background: linear-gradient(to bottom,  #ff670f 0%,#ff670f 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 );
    opacity: 1;
    transition: 5s;
}

#send{
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    color: azure;
    opacity: .8;
background: #d0e4f7;
background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); 

}
#send:hover{
    opacity: .6;
background: #258dc8; 
background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%); 
background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%); 
background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); 
    

}

#contactusmodal textarea{
    width: 80%;
    padding: 10px;
    margin: 0;
    height: 200px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin-top: 20px;
    font-size: 20px;
    max-height: 300px;
    max-width: 85%;
}

/*End Message Form*/

/*Start Location*/

#map{
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
}
#map div{
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
    margin-bottom: 20px;
}

.address p{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    color: #222;
    line-height: 40px;
    margin-left: 2%;
}
.address p>img{
    position: absolute;
    margin-left: -40px;    
    margin-top: 1%;
}

.locaition iframe{
    width: 100%;
    height: 100%;
}


/*End Location*/
/*End Contact Modal*/

/*Start Content 1*/
.content, .movie {
  font: 'Corporate A BQ';
  width: 100%;
}
.content{
    height: 300px;
}

.content ul {
  width: 100%;
  margin: 0;
  padding: 0;
    height: auto;

}
.content ul li {
  width: 28%;
    overflow: hidden;
  margin: 0;
  padding:2.5%;
  float: left;
}

.content img{
 width: 100%;
    height: auto;
}

.content h1{
  margin: 0;
  padding: 2px 0;
  text-align: left;
  font-size: 18px;
  color: silver;

}

.content ul li p {
  text-align: left;
  font-size: 14px;
  color: #efefef;
}

.content p>a{
    color: orangered;
    float: right;
    padding-right: 5%;
}
/*End Content*/

/*Video*/
.movie  {
  width: 100%;
  height: 270px;
    display: block;
    overflow: hidden;
}
.movie ul{
  width: 100%;
    height: 270px;
    margin: 0;
    padding: 0;
}
.movie li{
  width: 33.3%;
    height: 270px;
  float: left;
}
.movie li iframe{
    width: 100%;
    height: 270px;
    opacity: .6;
}

.movie li iframe:hover{
    opacity: 1;
    transition: .9s;
}

/*Footer*/


.footer {
  width: 100%;    
  background-color: #444;
  height: auto;
  margin: 0 auto;

}

.footer ul{
    float: left;
    margin: 0 auto;
    padding: 0% 5% 0% 5%;
    width: 15%;
    height: auto;
    text-align: left;
    
}

.footer ul li h1,h1{
  color: silver;
  font-size: 18px;
}


.footer ul li a{
  font-size: 15px;
  color: grey;
  display: block;
}

.footer ul li a:hover {
  color: white;
}

/*Resizing The Website*/


@media screen and (max-width: 1200px) {
    .header,.banner, .bg, #text{
        height: 500px;
    }
}

@media screen and (max-width: 1000px) {
    .header,.banner, .bg, #text{
        height: 350px;
    }
    #mainmenu{
        padding: 0;
        margin: 0;
        width: 80%;
        font-size: 17px;
        line-height: 40px;
        height: 40px;
        overflow: hidden;
    }
    #mainmenu li{
        text-align: center;
        width: 15%;
        padding: 0;
    }
    #opened,#contactnavbtn {
        line-height: 40px;
    }
    #map div{
        width: 100%;
        overflow: hidden;
    }
    #address iframe{
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width:860px) {
    #map div{
        width: 100%;
        display: block;
        text-align: center;
    }
    #mainmenu a,#opened,#contactnavbtn{
        font-size: 15px;
        opacity: 1;
    }
    #text h1{
        width: 100%;
        text-align: center;
        font-size: 40px;
        padding: 0;
        margin: 0px 0px 5px 0px;
    }
    #text p {
        font-size: 15px;
    }
    #text button{
        width: 30%;
        font-size: 15px;
    }
    .header,.banner, .bg,#text{
        height: 300px;
    }
    .content {
        width: 100%;
        height: auto;
        padding-top: 20px;
        clear: both;
    }
    .content ul{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .content ul li{
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .content ul li img{
        width: 100%;
        opacity: .8;
    }
    .content h1{
        font-size: 25px;
        padding: 0px 20px;
    }
    .content p{
        font-size: 20px;
        padding:0px 20px;
    }
    .movie{
        width: 100%;
        height: 450px;
    }
    .movie ul{
        height: 450px;
    }
    .movie li{
        width: 100%;
        height: 150px;
    }
    .movie li iframe{
        width: 100%;
        height: 150px;
    }
    .footer ul li a{
        font-size: 10px;
    }
    .footer ul li h1 {
        font-size: 15px;
    }
    #modal,#contactusmodal{
        width: 80%;
        padding: 0;
        margin-left: 10%;
    }

    #modal form, #contactusmodal form{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
     #contactusmodal td>img{
        margin-top: 15px;
        margin-left: 0;
        padding: 0;
    }
    #modal td input, #contactusmodal td input{
        width: 100%;
        padding: 0;
        
    }
    input [type = "text"], input [type = "password"], input [type = "email"]{
        padding-left: 5px;
    }
    }
    
@media screen and (max-width: 500px) {
        .header,.banner, .bg{
        height: 200px;
    }
    #text{
        width: 100%;
        height: 200px;
        padding-top: 40px;
        margin: 0;
    }
    #text h1{
        width: 100%;
        font-size: 20px;
        
    }
    #text p{
        width: 100%;
        font-size: 10px;
    }
    .footer ul{
        width: 50%;
        padding:3% 25%;
    }
    .footer ul li h1{
        font-size: 20px;
    }
    .footer ul li a {
        font-size: 15px;
    }
    #contactusmodal {
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
}
